body{
  background: url(multimedia/Pixelatehand.png);
  background-repeat: no-repeat;
  background-position:  top;
  background-color: #002446;
  color: #fff;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}



/* Font */
@font-face {
  font-family: 'Robot';
  src: url(font/disposabledroid-bb.regular.ttf);
}




/* Content */

.container{
  max-width: 500px;
  font-family: 'Robot';
}

.header-text{
  display: flex;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.5);
  max-width: 500px;
  
}
.todos li{
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.delete{
  cursor: pointer;
}

.filter{
  display: none !important;
}




/* Animations */


/* Header Animation */

.header-text-wrapper{
  overflow: hidden;
}

.dynamic-text{
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15rem;
}

.dynamic-text::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid #fff;
  background-color: #002446;
  animation: typing 5s steps(15) forwards,
  blinking .75s step-end infinite
  ;

}



@keyframes typing{
 25%,50%{
  left: 100%;
 }


 75% {
  left:0;
 }

 100% {
  left: 100%;
 }

}

@keyframes blinking{
  50% { border-color: transparent; }
}




/* Kara Message Animation */
.kara-boxes{
  font-family: 'Robot';
  font-size: 1rem;
  
}

.kara-box{
  overflow: hidden;
}

.kara-text{
  position: relative;
}


.kara-textOne::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #002446;
  border-left: 2px solid #002446;
  animation: kara-typing 3s steps(14) forwards,
  blinking .75s step-end infinite
  ;
  animation-delay: 10s ;

}



.kara-textTwo::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #002446;
  border-left: 2px solid #002446;
  animation: kara-typing 1.25s steps(3) forwards,
  blinking .75s step-end infinite
  ;
  animation-delay: 14s ;
}

.kara-textThree::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #002446;
  border-left: 2px solid #002446;
  animation: kara-typing-cat 2s steps(10) forwards,
  blinking .75s step-end infinite
  ;
  animation-delay: 16s ;
}




@keyframes kara-typing{
  30%,60%{
   left: 100%;
   border-color: #fff;
  }
 
  100% {
   left: 0%;
   border-color: #002446;
  }
 
 }
 



 @keyframes kara-typing-cat{
  50%{
   left: 0%;
  }
 
  100% {
   left: 100%;
   border-color: #fff;
  }
 
 }

 @keyframes kara-blinking{
  50% { border-color: transparent; }
}


